.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 150px 80px;
}

.cart-items {
    position: sticky;
    /* left: 0px; */
    right: 0px;
    background: rgba(255, 153, 0, 0.3);
    height: 100vh;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
}