.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2B35;
    height: 80px;
    padding: 0 3rem;
}

.navMenu{
    display: flex;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 17px;
    font-weight: 400;
}

nav a:hover{
    color: tomato;
}

.userIcon{
    width: 50px;
    border-radius: 50%;
    border: 4px solid white;
}